<?php
//copy this file and save as 'secret.php'
//replace 'xxx' with values received from 777 support
return array(
    'reqId'         => 'xxx',
    'secretKey'     => 'xxx',

    //replace all camids with this ID. Keep empty ('') to disable test show
    'testCamId'     => '',

    //provide redis login credentials here (if you want to use RedisCache)
    'cache'         => array(
      'redis_user'   => '',
      'redis_pass'   => '',
    )
);